<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Sumon Rahman">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Appy App Landing Template.</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="~/images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="primary_menu">
                <a class="navbar-brand" href="#"><img style="width:150px;height:70px" src="~/images/LogoFT.png" alt="Logo"></a>

                <ul class="nav navbar-nav mainmenu">
                    <li><a style="color:white;font-size:20px;margin-top:12px" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a style="color:white;font-size:20px;margin-top:12px" asp-area="" asp-controller="Home" asp-action="Products">Products</a></li>
                    <li><a style="color:white;font-size:20px;margin-top:12px" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a style="color:white;font-size:20px;margin-top:12px" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a style="color:white;font-size:20px;margin-top:12px" asp-area="" asp-controller="Home" asp-action="Contact">Themes</a></li>

                </ul>
                <div class="right-button hidden-xs">
                    <a style="margin-top:10px" href="#">Sign Up</a>
                </div>

            </div>
        </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <!-- Home-Area-End -->
    <!-- About-Area -->
    <section class="section-padding" id="about_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="page-title text-center">
                        <img src="~/images/LogoFT.png" alt="About Logo">
                        <div class="space-20"></div>
                        <h5 class="title">About FutureTech</h5>
                        <div class="space-30"></div>
                        <h3 class="blue-color">FutureTech is a leading, highly innovative software house, systems integrator and technology provider, established to provide leading edge intelligent technical solutions and consulting services to businesses, organizations and government in order to allow the efficient and effective secure access and communication with various heterogeneous information resources and services, anytime and anywhere. </h3>
                        <div class="space-20"></div>
                        <p>
                            FutureTech activities and professional services can be summarized in the following categories:

                            European and National Co-funded Research Programs

                            Participation in research activities and projects, co-funded by the European Union’s 6th, 7th and Horizon 2020 Framework Programs for Research and Innovation (including the IST, ICT, HEALTH, IMI, AAL and Research for SMEs and SME Associations work-programmes);
                            Participation in research programs co-funded by the General Secretariat for Research and Technology of the Greek Ministry for Development and by the Research Promotion Foundation of the Government of the Republic of Cyprus.
                            System Integration and Custom Software Development

                            Design and development of Integrated IT Solutions and Tailor-made Software, utilizing custom software development frameworks and including training, help-desk and software engineering outsourcing activities;
                            Design, development, customization, deployment and support of enterprise-driven custom software applications and solutions, e-business (B2B) and e-commerce (B2C) solutions, e-government (G2G, G2B and G2C) and e-health solutions, as well as brand new software products and services.
                            e-Services and e-Processes

                            Design and development of (transactional) portals exposing workflow-based e-services for customers, citizens and businesses;
                            Target Organizations: Public Administration and Central Government, Regional and Local Government, and Private Sector.
                            Technology Provision and IT Consulting

                            Combining emerging technologies (like Cloud Computing, Software-as-a-Service, Social Networks, Mobility, Semantic Web, Linked Open Data, and Big Data Management) in order to help organizations to meet their business strategy goals and benefit from the power of technology innovation;
                            Definition of the IT Strategy, Infrastructure and overall Enterprise Architecture required for organizations and enterprises to support the efficient and effective achievement of their business objectives, ensuring the end-to-end IT security across the organization;
                            Increase of the R&D capacity of business partners, staffing their project teams with the highly qualified and experienced research engineers of FutureTech who add value and ensure the robustness and success of the research and technological development process.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area-End -->
    
           <!-- Footer-Bootom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-7">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/vendor/jquery-ui.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/contact-form.js"></script>
    <script src="~/js/ajaxchimp.js"></script>
    <script src="~/js/scrollUp.min.js"></script>
    <script src="~/js/magnific-popup.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="~/js/main.js"></script>
</body>
</html>
